
<h2 class="text-lg font-medium leading-6 text-gray-900">Products</h2>

<div class="w-1/3 bg-white rounded-lg shadow">
    <ul class="divide-y-2 divide-gray-100">
        <% @products.each do |product| %>
            <li class="p-3"><%= product.title %></li>
        <% end %>
    </ul>
</div>
